.question-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-widget {
    display: flex !important;
    flex-direction: column;
    /* border: 1px solid #d3d3d3; */
    border-radius: 4px;
    height: 250px;
    margin: 20px;
    cursor: pointer;
}

.question-banner,
.question-options,
.option-one,
.option-two {
    display: flex;
}

.question-banner {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: #4281A4;
    margin-top: 10px;
    /* border-bottom: 1px solid #d3d3d3; */
    flex-basis: 10%;
    flex-direction: column;
}

.question-options {
    flex-direction: row;
    flex-grow: 1;
}

.option-one, .option-two {
    position: relative;
    align-items: center;   
    justify-content: center;
    height: 100%;
    flex-basis: 50%;
    border: 1px solid white;
    background-color: #9CAFB7;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
}

.option-one:hover, .option-two:hover {
    background-color: #E6B89C;
}

.option-one:active, .option-two:active {
    background-color: #E6B89C;
}

.vote {
    display: flex;
    position: absolute;
    bottom: 10px;
}

.vote-count {
    display: inline-block;
    margin-right: 10px;
}

.pagination-counter {
    display: flex;
    align-items: center;
    justify-content: center;
}
