
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

body {
  background-color: $gray-800;
}

.logged-in-username {
  margin-right: 1rem;
}

.login-card {
  width: 18rem;
  margin: 2rem auto;

  .login-button {
    text-align: center;

    .btn {
      width: 6rem;
    }
  }
}

.question-card {
  margin-bottom: 24px;
}

// Questions
.answers-wrapper {
  display: flex;
  justify-content: center;

  .choices {
    width: 300px;
    min-height: 200px;
    border-radius: 8px;
    color: #ffffff;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }

    &.first {
      flex: 1 1 auto;
      background-color: $blue;
      margin-right: 12px;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 .375rem rgba(0,123,255,.5);
      }
    }

    &.second {
      flex: 1 1 auto;
      background-color: $red;
      margin-left: 12px;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 .375rem rgba(220,53,69,.5);
      }
    }
  }

  .or {
    flex: 0 1 auto;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    text-align: center;
    color: black;
    text-transform: uppercase;
    position: absolute;
    top: 78px;


    span {
      position: relative;
      top: 12px;
    }
  }
}