
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

body {
  background-color: $gray-800;
}

.logged-in-username {
  margin-right: 1rem;
}

.login-card {
  width: 18rem;
  margin: 2rem auto;

  .login-button {
    text-align: center;

    .btn {
      width: 6rem;
    }
  }
}

.question-card {
  margin-bottom: 24px;
}

.nav-link.disabled {
  cursor: not-allowed;
}