body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 1024px;
  padding: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
}

#footer {
  margin-top: 20px;
}

.Profile {
  border: 1px solid black;
}

.Polls .Poll {
  border: 1px solid black;
  padding: 10px;
}

.PollDetails {
  border: 1px solid black;
  padding: 10px;
}

.PollDetails .answered {
  font-style: italic;
  color: green;
}

.PollDetails input {
  margin: 10px;
}

.PollDetails .answered-no {
  color: red;
}
